*/gen_code/*
*/node_modules/*
.env
.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
.vscode-test
*.vsix
node_modules
out
.direnv
mume
crossnote
.vscode-test-web
pnpm-lock.yaml
pylsp.log
__pycache**
pygls/**
debugpy
*.log
md/
poetry.lock
